<h1>nPlus</h1>
<% if current_user %>
	<h3> Your upcoming events </h3>
	<% @user_events.each do |event| %>
		<%= render partial: "events/display_event", content_type: 'text/html', :locals => { event: event, actions: [:declined,:maybe], respond_with: "events"} %>
		<!-- I think event might already be within the scope, so no need to pass in as local variable-->
	<% end %>

	<h3> Suggested events for you </h3>
	<% @suggested_events.each do |event| %>
		<%= render partial: "events/display_event", content_type: 'text/html', locals: { event: event, actions: [:attending,:maybe,:declined], respond_with: "events" } %>
	<% end %>


<% end %>