<div class="row-fluid">
	<div class="span7">
		<div class="row-fluid">
			<div class="span9">
				<%= render partial: 'form' %>
			</div>
			<div class="span3">
				<%= render partial: 'round_up_matches/rsvps'%>
			</div>
		</div>
	</div>
	<div class="span5" id="round-up-match-comments">
	  <%= render partial: "shared/comments/comments" %>
	</div>
</div>