<div class="row-fluid">
	<div class="span9">
		<p>Cinder exists to encourage social interaction within a company.  A company where everyone is socially invested in one another is more likely to outperform a company where that’s not the case. Increased social interaction fosters trust, openness, and helpfulness. Cinder can be a tool that helps us leverage useful strategies that require mature social relationships and infrastructure.</p> 

		<p>Cinder is a straightforward tool hacked together on the 2 train that sprang from a simple idea which could have big benefits for our organization. MediaMath has a culture and infrastructure that allows us to easily communicate with one another, and Cinder is intended to get the conversation started and broaden the social horizons of everyone who participates.</p>
	</div>
</div>